@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 24pt; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.center-horizontal {
  display: grid;
  justify-items: center;
}

.center-horizontal-vertical {
  display: grid;
  place-items: center;
  height: 100vh;
  /* Makes the container full viewport height */
}

.next-button {
  width: 66.66vw;
  /* Sets button width to 2/3 of the viewport width */
  max-width: 800px;
  /* Optional: Limit max width for larger screens */
  padding: 12px 24px;
  /* Adjusts padding for a larger button size */
  background-color: #009dff;
  /* Example background color */
  color: white;
  /* Text color */
  border: none;
  /* Removes default border */
  border-radius: 9999px;
  /* Full rounding for capsule shape */
  font-size: 1.2em;
  /* Increases text size */
  text-align: center;
  /* Centers text within the button */
  cursor: pointer;
  /* Pointer cursor for hover */
}

.previous-button {
  width: 66.66vw;
  /* Sets button width to 2/3 of the viewport width */
  max-width: 800px;
  /* Optional: Limit max width for larger screens */
  padding: 12px 24px;
  /* Adjusts padding for a larger button size */
  background-color: #848484;
  /* Example background color */
  color: white;
  /* Text color */
  border: none;
  /* Removes default border */
  border-radius: 9999px;
  /* Full rounding for capsule shape */
  font-size: 1.2em;
  /* Increases text size */
  text-align: center;
  /* Centers text within the button */
  cursor: pointer;
  /* Pointer cursor for hover */
}

.big-title {
  font-weight: 900;
  line-height: 1.2;
  color: #000000;
  margin: 0.5em 0;
  font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stick-to-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}