@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-size: 22pt;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 24pt; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.big-button {
  width: 66.66vw;
  max-width: 800px;
  padding: 12px 24px;
  color: white;
  border: none;
  border-radius: 9999px;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  margin: 12px;
}

.next-color {
  background-color: #009dff;
}

.previous-color {
  background-color: #5f5f5f;
}

.big-title {
  font-weight: 900;
  line-height: 1.2;
  color: #000000;
  margin: 0.5em 0;
  font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.next-previous-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  /* Centers elements horizontally */
  align-items: center;
  /* Centers elements within the div */
  position: fixed;
  /* Pins the container to the screen */
  bottom: 0;
  /* Positions the container at the bottom */
  width: 100%;
  /* Full width to allow centering */
  padding: 20px;
  /* Optional padding */
}

label {
  font-size: 1em;
  /* Makes the label text larger */
  display: flex;
  align-items: center;
  /* Aligns checkbox and text */
  gap: 20pt;
  /* Space between checkbox and text */
  cursor: pointer;
  /* Changes cursor to pointer for accessibility */
  color: #333;
  /* Optional: Sets label text color */
  margin: 30pt;
}

input[type="checkbox"] {
  width: 25px;
  /* Larger checkbox */
  height: 25px;
  accent-color: #ff49c2;
  /* Optional: Sets checkbox color for supported browsers */
  cursor: pointer;
  /* Pointer cursor for easier interaction */
  transform: scale(2);
  /* Makes checkbox even larger */
}


a:link,
a:visited {
  color: #075db3;
  /* DodgerBlue or any blue shade you prefer */
  text-decoration: none;
  /* Removes underline */
}

a:hover {
  color: #104E8B;
  /* Darker blue for hover effect */
  text-decoration: underline;
  /* Adds underline on hover */
}

.center-text {
  text-align: center;
}