@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-size: 22pt;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 24pt; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.big-button {
  width: 66.66vw;
  max-width: 800px;
  height: 100px;
  padding: 12px 24px;
  color: white;
  border: none;
  border-radius: 9999px;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  /* margin: 12px; */
}

.next-color {
  background-color: #7220ff;
}

.previous-color {
  background-color: #8f8f8f;
}

.big-title {
  font-weight: 900;
  line-height: 1.2;
  color: var(--foreground);
  ;
  margin: 0.5em 0;
  font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1em;
  /* Makes the label text larger */
  display: flex;
  align-items: center;
  /* Aligns checkbox and text */
  gap: 20pt;
  /* Space between checkbox and text */
  cursor: pointer;
  /* Changes cursor to pointer for accessibility */
  color: #333;
  /* Optional: Sets label text color */
  margin: 30pt;
}

input[type="checkbox"] {
  width: 25px;
  /* Larger checkbox */
  height: 25px;
  accent-color: #7220ff;
  cursor: pointer;
  /* Pointer cursor for easier interaction */
  transform: scale(2);
  /* Makes checkbox even larger */
}


a:link,
a:visited {
  color: #075db3;
  /* DodgerBlue or any blue shade you prefer */
  text-decoration: none;
  /* Removes underline */
}

a:hover {
  color: #104E8B;
  /* Darker blue for hover effect */
  text-decoration: underline;
  /* Adds underline on hover */
}

.center-text {
  text-align: center;
}

.zoofpay-subtitle {
  font-size: 2.5vw;
  /* Slightly smaller than the heading */
  margin-bottom: 1.5rem;
}

.create-link-button {
  margin-top: 10magvh;
  display: inline-block;
  /* Ensures the link respects padding and border radius */
  background-color: blue;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  /* Slightly rounded corners */
  font-size: 2vw;
  text-decoration: none;
  /* Removes underline */
  cursor: pointer;
}

.create-link-button:hover {
  background-color: darkblue;
  /* Slightly darker on hover */
}

.github-logo {
  cursor: pointer;

}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
  background-color: #f8f8f8;
}

/* Center the title */
.nav-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

/* GitHub logo on the right side */
.github-logo {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

input {
  background: var(--background);
}